:root {
    --primary-color: #fbb503;
    --secondary-color: #7878f7;
    --tertiary-color: #ff0000;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-size: 1.2rem;

}


header {
    display: flex;
    flex-direction: column;
    background-image: url("../images/cel-azul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: relative;

}

header img {
    position: relative;
    top: 15%;
    width: 80%;

}

header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    
    
}

@media screen and (max-width:715px) {
    header nav ul {
        flex-direction: column;
        gap: 20px;


    }
}

header nav ul {
    margin: 20px 0px;

}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--tertiary-color);
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

header nav ul li a:hover {
    opacity: .7;
}

@keyframes moverGoku {
    from {
        position: absolute;
        left: 1800px;
    }

    to {
        position: absolute;
        left: -300px;
    }

}


#gokuNoDragao{
    width: 10%;
    display: inline-block;
    animation-name: moverGoku;
    animation-iteration-count: infinite;
    animation-duration: 10s;


}

main {
    background-color: var(--primary-color);
    color: #474343;
    width: 100%;
    padding: 40px;
}

main .sobreAnime-h2 {
    color: var(--tertiary-color);
    font-size: 2rem;
    font-weight: bold;

}

@media screen and (max-width:715px) {
    main .sobreAnime-h2 {
        text-align: center;
    }
}

main .SobreAnime {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: auto;
    padding: 30px;

}

main .imagesDragonBall {
    width: 100%;
    height: 100%;
}

main .imagesDragonBall .carousel .carousel-inner .carousel-item img {
    border-radius: 20px;
    width: 90%;
    height: 90%;


}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    background: white;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}


#personagens {
    display: flex;
    max-width: 80%;
    gap: 15px;
    flex-wrap: wrap;
    margin: auto;
    background-color: var(--primary-color);
    justify-content: center;

}

#personagens div {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    align-items: center;
    border-radius: 10px;
    width: 300px;

}

#personagens div:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    position: relative;
    right: 3px;
    bottom: 3px;
}

#personagens div img {
    width: 250px;
    height: 350px;
    padding: 20px;

}


#visualizarPersonagens {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    font-size: 2rem;

}

footer {

    display: flex;
    flex-direction: column;
    background-image: url("../images/cel-azul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    width: 100vw;
    height: 30vh;
    padding: 30px 50px;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    position: relative;


}

 #nuvemVoadora{
    width: 10%;
    display: inline-block;
    display: inline-block;
    animation-name: moverNuvem;
    animation-iteration-count: infinite;
    animation-duration: 11s;
}

@keyframes moverNuvem {
    from {
        position: absolute;
        left: 2000px;
    }

    to {
        position: absolute;
        left: -300px;
    }

}